<div ng-include src="'views/partials/menu.html'"></div>

<h1>Intersection</h1>
<div  class="container">
    <form name="form" class="css-form" novalidate>

        <div class="row">
            <div class="col-md-8 col-md-offset-2" >
                <table class="table table-striped">

                    <tr><td>Dimanche 2</td></tr>
                    <tr><td>Dimanche 7</td></tr>
                    <tr><td>Dimanche 9</td></tr>
                    <tr><td>Dimanche 12</td></tr>
                    <tr><td>Dimanche 17</td>
                        <td>
                             <div class="btn-group">
    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
      Disponible
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="#">Indisponible</a></li>
      <li><a href="#">Si nécessaire</a></li>
    </ul>
  </div>
</td></tr>
                    <tr>
                        <td>Dimanche 27</td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default">
                                    <span class="glyphicon glyphicon-ok"></span> Disponible
                                </button>
                                <button type="button" class="btn btn-default">
                                    <span class="glyphicon glyphicon-minus-sign"></span> Indisponible
                                </button>
                                <button type="button" class="btn btn-default">
                                    <span class="glyphicon glyphicon-warning-sign"></span> Si nécessaire
                                </button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Dimanche 27</td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default">
                                    <span class="glyphicon glyphicon-ok"></span> Disponible
                                </button>
                                <button type="button" class="btn btn-default">
                                    <span class="glyphicon glyphicon-minus-sign"></span> Indisponible
                                </button>
                                <button type="button" class="btn btn-default">
                                    <span class="glyphicon glyphicon-warning-sign"></span> Si nécessaire
                                </button>
                            </div>
                        </td>
                    </tr>
                </table>

            </div>
        </div>
    </form>
</div>
<div ng-include src="'views/partials/footer.html'"></div>
